nav ul {
  display: flex;
  background-color: blanchedalmond;
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
}

.hover-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0); /* transparent background */
}

.image-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* initially hidden */
  transition: opacity 0.3s ease;
}

.container:hover .image-div {
  opacity: 1; /* show on hover */
}
